  @import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;700&display=swap');

  :root {
      --bluberry : #eee;
      --large    : 700;
      --titleSize: 2rem;
      --import   : 'Chakra Petch', sans-serif;
  }

  body {
      background-color: rebeccapurple;

      h1 {
          color           : red;
          background-color: black;
          padding         : 50px;
          color           : var(--bluberry);
          font-weight     : var(--large);
          font-size       : var(--titleSize);
          font-family     : var(--import);
          font-size       : 20rem;
      }
  }