@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;700&display=swap");

:root {
    --white      : #eee;
    --black      : #000;
    --dark       : rgb(29, 29, 29);
    --fluorescent: rgb(15, 235, 33);

    --heavy : 700;
    --large : 15rem;
    --import: "Chakra Petch", sans-serif;
}

.page-header {
    background-color: var(--dark);
    width           : 100%;
    display         : flex;
    justify-content : space-between;
    align-items     : center;
    padding         : 20px;

    a {
        color          : var(--white);
        text-decoration: none;
        text-transform : capitalize;
    }

    &__logo {
        font-size: 1.5rem;
    }
}